a, a:link, a:visited {
    color:#BD381F;
}
.tabs .active>a {
    border:none;
}
.tabs .active>a:hover {
    border:none;
    color:#BD381F;
    background-color:#eee;
}
h2 {
    color:#269186;
}
.headline {
    width:100%;
    float:left;
}
.meta {
    width:100%;
    float:left;
}
.post_body {
    width:100%;
    float: left;
    padding-top:20px;
}
.meta .datetime {
    color:#BD3619;
    font-weight:bold;
    float:right;

}