<!DOCTYPE html>
<html>
<head>
    {% block static %}
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/frozn.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/static/prettify/prettify.css" type="text/css" media="all" />
    <script type="text/javascript" src="/static/prettify/prettify.js"></script>
    {% endblock static %}
</head>

<body onload="prettyPrint()">
    <div class="container span8">
        {% block header %}
        <div class="header">
            <ul class="tabs">
              <li class="active"><a href="#">Blog</a></li>
              <!--<li><a href="#">Portfolio <span class="label warning">External</span></a></li>-->
              <li><a href="#">@jasonbartz <span class="label warning">External</span></a></li>
              <li><a href="#">Contact</a></li>
            </ul>
            <h1>Jason Bartz</h1>
            
        </div>
        {% endblock header %}
        
        <div class="content">
        {% block content %}
        
        {% endblock content %}
        </div>
    </div>
</body>
</html>