/* Solarized scheme */
pre { display: block; background-color: #002b36 }
pre .nocode { background-color: none; color: #000 }
pre .str { color: #d33682 } /* string  - pink */
pre .kwd { color: #268bd2; font-weight: bold }
pre .com { color: #2aa198 } /* comment - skyblue */
pre .typ { color: #859900 } /* type    - lightgreen */
pre .lit { color: #dc322f } /* literal - darkred */
pre .pun { color: #93a1a1 }    /* punctuation */
pre .pln { color: #93a1a1 }    /* plaintext */
pre .tag { color: #b58900; font-weight: bold } /* html/xml tag    - lightyellow */
pre .atn { color: #fdf6e3; font-weight: bold } /* attribute name  - khaki */
pre .atv { color: #d33682 } /* attribute value - pink */
pre .dec { color: #859900 } /* decimal         - lightgreen */

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #b58900 } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 { }

@media print {
  pre { background-color: none }
  pre .str, code .str { color: #060 }
  pre .kwd, code .kwd { color: #006; font-weight: bold }
  pre .com, code .com { color: #600; font-style: italic }
  pre .typ, code .typ { color: #404; font-weight: bold }
  pre .lit, code .lit { color: #044 }
  pre .pun, code .pun { color: #440 }
  pre .pln, code .pln { color: #000 }
  pre .tag, code .tag { color: #006; font-weight: bold }
  pre .atn, code .atn { color: #404 }
  pre .atv, code .atv { color: #060 }
}
